<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Whoami</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/about" [routerLinkActiveOptions]="{exact:true}">About</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/formSamples" [routerLinkActiveOptions]="{exact:true}">Forms</a>
    </nav>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
